
 <section class="blog-banner-area" id="blog">
    <div class="container h-100">
      <div class="blog-banner">
        <div class="text-center">
          <h1>My Store</h1>
          <nav aria-label="breadcrumb" class="banner-breadcrumb">
            <ol class="breadcrumb">
              <li class="breadcrumb-item"><a href="#">{{fullname}}</a></li>
              <li class="breadcrumb-item active" aria-current="page">My Store</li>
            </ol>
          </nav>
        </div>
      </div>
    </div>
  </section>

	<!-- ================ contact section start ================= -->
  <section class="section-margin--small">
  
  </section>
	<!-- ================ contact section end ================= -->
  
