<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.5.0/css/bootstrap.min.css" />
<style>
  .preview-img {
    max-width: 500px;
    margin: 0 1em 1em 0;
    padding: 0.5em;
    border: 1px solid #ccc;
    border-radius: 3px;
  }
</style>
<div class="container">
  <h1 class="my-5 text-center">Upload Product's Images</h1>
  <input type="file" multiple name="image" onchange="previewFile(this)" required class="form-control image-preview"
    id="exampleInputImg">
  <img id="previewImg" src="https://upload.wikimedia.org/wikipedia/commons/1/14/No_Image_Available.jpg?20200913095930"
    width="40%">
</div>
<script>
  function previewFile(fileInput) {
    var file = $(".image-preview").get(0).files[0];

    if (fileInput.files && fileInput.files[0]) {
      var reader = new FileReader();

      reader.onload = function (e) {
        $('#previewImg').attr('src', e.target.result);
      }

      reader.readAsDataURL(fileInput.files[0]);
    }
  }
</script>